body {
    background-color: #FFCB2F;
    font-family: Calibri;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 250px;
}

#formulario {
    /* display: inline-block; */
}

.form-itens {
    padding: 5px;
}

.botoes {
    padding: 5px;
    display: flex;
}

#botaoSalvar {
    padding: 20px 230px;
}

#previewer {
    background-image: url(../imgs/modelo.png);
    background-size: 586px 196px;
    width: 586px;
    height: 196px;
}
.nomeSobrenome {
    display: inline-flex;
    font-weight: bold;
    font-size: 22px;
}

#nomeP {
    padding-left: 12px;
}

#sobrenomeP {
    padding: 0 6px;
    color: rgb(255, 192, 0);
}

#funcaoP {
    font-size: 15px;
    color: rgb(255, 192, 0);
    padding-left: 12px;
}

.celularRamalEmail {
    padding: 14px 38px;
    font-size: 13px;
}

.celularRamal {
    display: inline-flex;
}

#celularP {
    font-weight: 400;
    padding-right: 10px;
}

#emailP {
    line-height: 2.2;
}

#visualizacao {
    display: none;
    /* align-items: center; */
    /* justify-content: center; */
}

a {
    text-decoration: none;
    color: black;
}

#tela {
    padding: 100px;
    max-width: 596px;
    width: 100%;
    border-radius: 12px;
    background-color: white;
    height: fit-content;
}